* {
    box-sizing: border-box;
}


h1 {
    left: 0;
    line-height: 25px;
    margin-top: -125px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.header {
    float: left;
}

.text-center {
    margin-top: 375px;
}

.mybuttons {
    text-align: center;

}


#choiceA {
    
}

#choiceB {
    
}

#choiceC {
    
}

#choiceD {
   
} 

.upper-left {
    margin-top: 4px;
    margin-left: 8px;
}

.upper-right {
    position: absolute;
    top: 8px;
    right: 16px;
}


.question {
    display: none;
    left: 0;
    line-height: 25px;
    margin-top: -75px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
