* {
    box-sizing: border-box;
}

header {
vertical-align: top;
}

.upperLeft {
text-align: left;
}

.timer {
font-size: 30px;
text-align: right;
margin-top: -40px;
margin-right: 60px;
}


.container {
display: flex;
width: 100vw;
height: 100vh;
justify-content: center;
align-items: center;
display: grid;
grid-column: 1;
}

.buttons {
margin-bottom: 175px;
    
}

.p {
    margin: auto;
}

#highScores {
    margin-top: 20px;
}

#questionSection {
    text-align: center;
    margin-bottom: 120px;
}

.hide {
    display: none;
}

#scoreLog {
    margin-bottom: auto;
}

.scoreLog{
    display: none;
}

h1 {
    text-align: center;
    margin-top: 75px;
}

#start {
    margin-bottom: 320px;

}

.myButtons {

}

#choiceA {
    
}

#choiceB {
    
}

#choiceC {
    
}

#choiceD {
   
} 



